<!-- Copyright 2013 Hannu Visti 

This file is part of ForGe forensic test image generator.
ForGe is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ForGe.  If not, see http://www.gnu.org/licenses/. -->


{% extends "ui/main.html" %}

	{% block maincontainer %}
		<link rel="stylesheet" type="text/css" href='{{ STATIC_URL }}ui/dropzone.css' /> 	
		<script src="{{ STATIC_URL }}ui/dropzone.js"></script>
		
			<form action = "{{ cfunction }}" class="dropzone" id="mydropzone">
				{% csrf_token %}

			</form>

	{% endblock %}
	{% block sidecontainer %}
		{% if  instruction %}
			{{ instruction }}
		{% endif %}

	{% endblock %}
