li a {
    color: green;
}
.nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
    padding:10px;
}
.nav a{
    display:inline-block;
    padding:5px;
}